body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    transform: translateY(40%);
}