<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./search.css">
</head>
<body>
    <div class="heading">
        <h1>Search Coffe</h1>
    </div>
    <div class="search">
     <input  class="search-txt" type="text" name="" placeholder="Type to search">
     
     <a class="search-btn" href="./demo-list.html" >
        <i class="fas fa-search"></i>
     </a>
    

 
    </div>
</body>
</html>