body{
    margin: 0;
    padding: 0;
  background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

.heading{
    color:red;
    position:relative;
    text-align: center;
    font-size: 25px;
  margin: 0 30%;
/*     left:40%; */
    font-family: 'Lato', sans-serif;
    font-style: underline;

}
.search{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    background:black ;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search:hover > .search-txt{
    width: 180px;
    padding: 0 10px;
    color: wheat;
    font-family: 'Pangolin', cursive;
}
.search:hover > .search-btn{
   background: white ;
}
.search-btn{
    color: red;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#ABB2B9 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:wheat ;
    font-size: 16px;
    transition: ease-in 0.4s;
    line-height: 40px;
    width: 110px;
    font-family: 'Pangolin', cursive;
}
.fas fa-search{
    font-weight: 200;
    font-size: 40px;
}