<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="stylesheet" href="bill.css">
</head>
<body>
    <body onload="window.print();">
        <div id="page" class="page">
            <div class="header">
                <div class="logo"><img src="../../img/coffee-bill.png" style="width: 70px;"/></div>
                <div class="company">NoHope Team</div>
            </div>
          <br/>
          <div class="title">
                HÓA ĐƠN THANH TOÁN
                <br/>
                -------oOo-------
          </div>
          <br/>
          <br/>
          <table class="TableData">
            <tr>
              <th>STT</th>
              <th>Tên</th>
              <th>Đơn giá ($)</th>
              <th>Số</th>
              <th>Thành tiền ($)</th>
            </tr>
                <tr>
                <td class=\"cotSTT\">1</td>
                <td class=\"cotTenSanPham\">Coffee 1</td>
                <td class=\"cotGia\"><div id='' value=''>100.000</div></td>
                <td class=\"cotSoLuong\" align='center'>1</td>
                <td class=\"cotSo\">100.000</td>
                </tr>  
                <tr>
                    <td class=\"cotSTT\">1</td>
                    <td class=\"cotTenSanPham\">Coffee 2</td>
                    <td class=\"cotGia\"><div id='' value=''>100.000</div></td>
                    <td class=\"cotSoLuong\" align='center'>1</td>
                    <td class=\"cotSo\">100.000</td>
                </tr> 
                <tr>
                        <td class=\"cotSTT\">1</td>
                        <td class=\"cotTenSanPham\">Coffee 3</td>
                        <td class=\"cotGia\"><div id='' value=''>100.000</div></td>
                        <td class=\"cotSoLuong\" align='center'>1</td>
                        <td class=\"cotSo\">100.000</td>
                </tr> 
    
            <tr>
              <td colspan="4" class="tong">Tổng cộng</td>
              <td class="cotSo">300.000</td>
            </tr>
          </table>
          <div class="footer-left"> Hồ Chí Minh, 12/03/2021<br/>
            Khách hàng </div>
          <div class="footer-right"> Hồ Chí Minh, 12/03/2021<br/>
            Nhân viên </div>
        </div>
        </body
</body>
</html>